.app {
    margin: 10px auto;
    width: 30%;
    text-align: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    padding: 1%;
}
.calcbuttons {
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
}
.output-screen {
    border: 1px solid gray;
    margin: 15px auto;
    width:50%;
    aspect-ratio: 5/1;
    background-color: grey;
    color:white;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: xx-large;
    overflow-y: auto;
    padding: 3px;
}
.key {
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: 1px 1px 1px 1px;
    background-color: orange;
    font-size: large;
}
.key-zero {
    border-radius: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 95%
}
.hideclear {
    display: none;
}