@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .neon-button 
  {
    position:relative;
    display:inline-block;
    padding: 5px 10px;
    /* color: #59FF5A; */
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    text-decoration: none;
    font-size: 2.5vh;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 15px;
    color: #fff;
    text-shadow: 0 0 5px #59FF5A,
    0 0 10px #59FF5A,
    0 0 20px #59FF5A;
    /* 0 0 40px #59FF5A,
    0 0 80px #59FF5A; */
    /* outline: none; */
  }
  .neon-button:hover
  {
    color: #374151;
    background: #59FF5A;
    box-shadow: 0 0 10px #59FF5A, 0 0 20px #59FF5A, 0 0 40px #59FF5A;
  }
  .neon-button-sm
  {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.8vh 1.4vh;
    /* color: #59FF5A; */
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    text-decoration: none;
    font-size: 2vh;
    overflow: hidden;
    transition: 0.5s;
    text-align:center;
    color: #fff;
    border-radius: 20px;
    text-shadow: 0 0 5px #59FF5A,
    0 0 10px #59FF5A,
    0 0 20px #59FF5A;
    /* 0 0 80px #59FF5A,
    0 0 160px #59FF5A; */
  }
  .neon-flash-text
  {
    color: #fff;
    text-shadow: 0 0 10px #59FF5A;
    /* 0 0 10px #59FF5A; */
    /* 0 0 15px #59FF5A; */
    /* 0 0 80px #59FF5A,
    0 0 160px #59FF5A; */
  }
  .neon-flash-border
  {
    border-bottom: 2px solid #fff;
    box-shadow: 0 0 10px #59FF5A,
    0 0 20px #59FF5A,
    0 0 40px #59FF5A,
    0 0 80px #59FF5A,
    0 0 160px #59FF5A;
  }

  /* Landing Animations */
  .landing-animation 
  {
    position: relative;
    margin-bottom: 23%;
    letter-spacing: 10px;
    color: #59FF5A;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
    line-height: 0.8em;
    outline: none;
    animation: animate 5s linear infinite;
  }
  .landing-animation-md
  {
    position: relative;
    margin-bottom: 50%;
    letter-spacing: 10px;
    color: #59FF5A;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
    line-height: 0.8em;
    outline: none;
    animation: animate 5s linear infinite;
  }
  .landing-animation-sm
  {
    position: relative;
    margin-bottom: 63%;
    letter-spacing: 10px;
    color: #59FF5A;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
    line-height: 0.8em;
    outline: none;
    animation: animate 5s linear infinite;
  }
  @keyframes animate
  {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
      color: #3E6B3E;
      text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
      color: #fff;
      text-shadow: 0 0 10px #59FF5A,
      0 0 20px #59FF5A,
      0 0 40px #59FF5A,
      0 0 80px #59FF5A,
      0 0 160px #59FF5A;
    }
  }
  .landing-box
  {
    position:relative;
    width: 60rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-box-sm
  {
    position:relative;
    width: 27.5rem;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-box-md
  {
    position:relative;
    width: 40rem;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lightbar
  {
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 75%;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    visibility: hidden;
    box-shadow: 0 0 10px #59FF5A,
    0 0 10px #59FF5A,
    0 0 20px #59FF5A,
    0 0 40px #59FF5A,
    0 0 80px #59FF5A,
    0 0 120px #59FF5A;
    animation: animatelightbar 3s linear;
    animation-delay: 2.5s
  }
  .lightbar-md
  {
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 50%;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    visibility: hidden;
    box-shadow: 0 0 10px #59FF5A,
    0 0 10px #59FF5A,
    0 0 20px #59FF5A,
    0 0 40px #59FF5A,
    0 0 80px #59FF5A,
    0 0 120px #59FF5A;
    animation: animatelightbar-md 3s linear;
    animation-delay: 2.5s
  }
  .lightbar-sm
  {
    position: absolute;
    top:0;
    left: 0;
    width: 10px;
    height: 50%;
    border-radius: 10px;
    background: #fff;
    z-index: 2;
    visibility: hidden;
    box-shadow: 0 0 10px #59FF5A,
    0 0 10px #59FF5A,
    0 0 20px #59FF5A,
    0 0 40px #59FF5A,
    0 0 80px #59FF5A,
    0 0 120px #59FF5A;
    animation: animatelightbar-sm 3s linear;
    animation-delay: 2.5s
  }
  @keyframes animatelightbar
  {
    0%,5%
    {
      transform: scaleY(0) translateX(0);
      visibility: visible; 
    }
    10%
    {
      transform: scaleY(1) translateX(0);
      visibility: visible; 
    }
    90%
    {
      transform: scaleY(1) translateX(calc(60rem - 10px));
      visibility: visible; 
    }
    95%, 100%
    {
      transform: scaleY(0) translateX(calc(60rem - 10px));
      visibility: visible; 
    }
  }
  @keyframes animatelightbar-md
  {
    0%,5%
    {
      transform: scaleY(0) translateX(0);
      visibility: visible; 
    }
    10%
    {
      transform: scaleY(1) translateX(0);
      visibility: visible; 
    }
    90%
    {
      transform: scaleY(1) translateX(calc(40rem - 10px));
      visibility: visible; 
    }
    95%, 100%
    {
      transform: scaleY(0) translateX(calc(40rem - 10px));
      visibility: visible; 
    }
  }
  @keyframes animatelightbar-sm
  {
    0%,5%
    {
      transform: scaleY(0) translateX(0);
      visibility: visible; 
    }
    10%
    {
      transform: scaleY(1) translateX(0);
      visibility: visible; 
    }
    90%
    {
      transform: scaleY(1) translateX(calc(27.5rem - 10px));
      visibility: visible; 
    }
    95%, 100%
    {
      transform: scaleY(0) translateX(calc(27.5rem - 10px));
      visibility: visible; 
    }
  }
  .toplayer 
  {
    z-index: 1;
    visibility: visible;
    animation: animatetoplayer 3s linear;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }
  @keyframes animatetoplayer 
  {
    0%,5%
    {
      transform:  translateX(0);
      visibility: visible; 
    }
    10%
    {
      transform: translateX(0);
      visibility: visible; 
    }
    90%
    {
      transform: translateX(100%);
      visibility: visible; 
    }
    90%,100%
    {
      transform: translateX(100%);
      visibility: visible; 
    }
  }

  /* neon effects */
  .neon
  {
    box-shadow: 0 0 10px #59FF5A, 0 0 20px #59FF5A, 0 0 40px #59FF5A, 0 0 80px #59FF5A;
  }
  .neon-lg
  {
    box-shadow: 0 0 20px #59FF5A, 0 0 40px #59FF5A, 0 0 80px #59FF5A;
  }

  /* buttons */
  .general-btn
  {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1vh;
    background:#59FF5A;
    padding: 3vh 6vh;
    border-radius: 2vh;
    color: #374151;
    font-size: 2.5vh;
    text-align:center;
  }
  .general-btn:hover 
  {
    box-shadow: 0 0 10px #59FF5A, 0 0 20px #59FF5A, 0 0 40px #59FF5A;
  }
  .general-btn-sm
  {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1vh;
    background:#59FF5A;
    padding: 1vh 2vh;
    border-radius: 2vh;
    color: #374151;
    font-size: 2.5vh;
    text-align:center;
  }
}

  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  ::-webkit-scrollbar {
    width: 0.5rem
  }
  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(34 197 94);
    border-radius: 20px;
  }

  @media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0rem
      }
  }
  
